#container {
    display: flex;
    width: 90%;
    border: 3px solid black;
    height: 700px;
    margin: 10px auto;
}

#quiz-box {
display: flex;
flex-direction: column;
justify-content: center;
align-content: flex-end;

margin-left: 20%;
/* margin-top: auto;
margin-bottom: auto; */

}
h1 {
    margin-bottom: 0;
    font-size: 2.5rem;
}

ol {
    list-style: decimal inside;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0;

    }
.list-item-container {
    width: 250px;
    height: 50px;
    background-color: rgb(90, 41, 105);
    margin: 10px 0px;
    color: white;
    border-radius: 12px;
    }

.list-item-container:active{
    background-color: rgb(226, 96, 183);

}

li {
    margin: 0 20px;
    line-height: 50px;
}