#container {
    display: flex;
    width: 90%;
    border: 3px solid black;
    height: 700px;
    margin: 10px auto;
}

#quiz-box {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-content: flex-end;
margin: auto; 
/* margin-left: 20%; */
/* margin-top: auto;
margin-bottom: auto; */

}
h1 {
    margin-bottom: 0;
    font-size: 2.5rem;
    text-align: center;
}

p {
    text-align: center;
    font-size: 1.3rem;
    margin: 30px;
}

ol {
    list-style: decimal inside;
    font-weight: 700;
    font-size: 1.2rem;
    padding-left: 25%;

    }
.list-item-container {
    width: 250px;
    height: 50px;
    background-color: rgb(90, 41, 105);
    margin: 10px 0px;
    color: white;
    border-radius: 12px;
    
    }

.list-item-container:active{
    background-color: rgb(226, 96, 183);

}

li {
    margin: 0 20px;
    line-height: 50px;
}

h2 {
    border-top: 2px solid gray;
    font-size: 1.8rem;
    color: gray;
    opacity: 0.7;
}

#highScoreLink {
    color: rgb(151, 56, 206);
    margin: 30px;
    height: 20px;
}

#highScoreLink:hover {
    color: pink;
}

.invis {
    display: none;
}

.btn {
    background-color: rgb(90, 41, 105);
    font-weight: 700;
    color: white;
    width: 150px;
    height: 40px;   
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(151, 56, 206);
}

#start-game {
    margin: 0 auto;
}

.margin {
    margin-left: 20%;
}

#hsContainer {
    width: 40%;
    margin: 0 auto;
}

#hs-list {
    padding: 20px;
    max-width: 700px;
}

#hs-list li{
    margin: 0 auto;
}

#hs-list li::marker {
    padding: 10px;
}

#hs-list li:nth-last-of-type(even) {
background-color: rgba(140, 80, 180, 0.5);
}

.flexy {
    display: flex;
    justify-content: space-around;
}

.listItem {
    list-style-position: inside;
    padding: 5px 20px;
}
