:root {

    font-family: sans-serif;
}


#container {
    display: flex;
    width: 90%;
    border: 3px solid black;
    height: 700px;
    margin: 10px auto;
    justify-content: space-between;
}


#options {
margin-left: 0;
}

#timer {
width: 100px;
}

#quiz-box {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-content: flex-start;
margin-left: 8%;
width: 1000px;
}

h1 {
    margin-bottom: 0;
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    margin-bottom: 0;
    font-size: 2.5rem;
    text-align: left;
}

.texty {
    text-align: center;
    font-size: 1.3rem;
    margin: 30px;
}

ol {
    list-style: decimal inside;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0 auto;
}

.list-item-container {
    width: 280px;
    height: 50px;
    background-color: rgb(90, 41, 105);
    margin: 10px 0px;
    color: white;
    border-radius: 12px;
}

.list-item-container:active{
    background-color: rgb(226, 96, 183);
}

.list-item-container li {
    width: 260px;
}

li {
    margin: 0 20px;
    line-height: 50px;
}

h3 {
    border-top: 2px solid gray;
    font-size: 1.8rem;
    color: gray;
    opacity: 0.7;
}

#highScoreLink {
    color: rgb(151, 56, 206);
    margin: 20px;
    height: 20px;
    min-width: 130px;
}

#highScoreLink:hover {
    color: pink;
}

.invis {
    display: none;
}

.btn {
    background-color: rgb(90, 41, 105);
    font-weight: 700;
    color: white;
    width: 150px;
    height: 40px;   
    border-radius: 10px;
}

.sml-btn {
    background-color: rgb(90, 41, 105);
    font-weight: 700;
    color: white;
    width: 110px;
    height: 30px;   
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(151, 56, 206);
}

.sml-btn:hover {
    background-color: rgb(151, 56, 206);
}

label.texty {
    margin-right: 5px;
}

#start-game {
    margin: 0 auto;
}

#submit-score{
    margin-left: 13px;
}

#initials {
    height: 25px;
}

#hsContainer {
    margin: 0 auto;
    width: 80%;
    border: 3px solid black;
    height: auto;
    padding-bottom: 15px; 
}

#hs-list {
    padding: 20px;
    max-width: 700px;
}

#hs-list li{
    margin: 0 auto;
    font-size: 1.4rem;
}

#hs-list li::marker {
    padding: 10px;
}

#hs-list li:nth-last-of-type(even) {
background-color: rgba(140, 80, 180, 0.5);
}

.flexy {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: 0 auto;
}

.listItem {
    list-style-position: inside;
    padding: 5px 20px;
}

.texty2 {
    text-align: left;
}
